#root {
  width: 100%;
  font-family: "Asap Condensed", sans-serif;
}

.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-body {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.main-photo {
  /* border: 1px solid green; */
}

.app-main-chat {
  border: 1px solid blue;
  width: 100%;
  text-align: center;
}

/* Styling for the input field */
.ai-chat input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 70%;
}

/* Styling for the input field when focused */
.ai-chat input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(104, 104, 105, 0.5);
}
